<h1>Sign up!</h1>

<br>
<%= form_for :user, url: '/users' do |f| %>
  <form class="login-form">

  <div class="form-group">
    First Name:
    <br>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    Last name:
    <br>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="form-group">
    Email:
    <br>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    Password:
    <br>
    <%= f.password_field :password %>
  </div>
  
  <div class="form-group">
    Password Confirmation:
    <br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-group">
    <%= flash.alert %>
  </div>
  
  <br>
  <%= f.submit "Submit", class: 'btn btn-info' %>
  </form>

<% end %>

